{% extends 'base.html.twig' %}

{% block body %}
<form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    <div class="container-login-form">
        <div class="login-form">
            {% if app.user %}
                <div class="login-logout">
                    <div>
                        Vous êtes déjà connecté, {{ app.user.pseudo }} !
                    </div>
                    <div>
                        <button class="login-button" ><a href="{{ path('app_logout') }}">Se déconnecter</a></button>
                    </div>
                </div>
            {% endif %}
            <div>
                <label class="login-form-flex" for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control login-line" autocomplete="email" required autofocus>
            </div>

            <div>
                <label class="login-form-flex" for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control login-line" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>

            <button class="login-button" type="submit">
                Se connecter
            </button>
        </div>
    </div>
</form>
{% endblock %}

{#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" name="_remember_me"> Remember me#}
{#            </label>#}
{#        </div>#}

